@charset "ISO-8859-1";
/* CSS Document */

p{	
	font-size: 14px;
	font-weight: none;
	color: #666;
	font-family:Verdana, Georgia, Arial;
	margin-left: 30px;
	margin-right: 30px;
}
h2{	
	color: #6c6361;
	font-family:Verdana, Georgia, Arial;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 16px;
	font-weight: bold;
}